.earthDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.Info_panel span{
    color: rgba(255, 255, 255, 0.5);
    display: block;
    font-family: 'Office Times Round';
    margin-bottom: 10px;
    font-size: 14px;
}
.Info_panel li{
    color: #fff;
    margin-bottom: 20px;
    font-size: 14px;
}
.Info_panel li:first-of-type{
    font-family: 'Office Times Round';
    font-size: 20px;
}