.header_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 80px;
  }
  
  .header_logo {
    width: 75px;
  }
  
  .header_box_links {
    display: flex;
    gap: 40px;
  }
  
  .header_box_links a {
    text-decoration: none;
    color: var(--foreground);
  }
  
  .header_box_social {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
  .header_login_button {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #fff;
    color: #000000;
    padding: 0 20px;
    border-radius: 20px;
    height: 40px;
    line-height: 30px;
    font-size: 18px;
  }
  .header_logined_button {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 0 20px;
    border-radius: 20px;
    height: 40px;
    line-height: 30px;
    font-size: 18px;
  }
  .header_logined_button:hover {
    background-color: #161616;
  }
  
  .header_box_left {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .header_box_left_text {
    font-size: 12px;
    color: #838b8d;
    text-transform: uppercase;
  }
  
  .h5_visible {
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    .h5_hidden {
      display: none;
    }
  
    /* new styles */
  
    .header_box {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 100;
      backdrop-filter: blur(10px);
      background-color: var(--background);
    }
  
    .hamburger {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 20px;
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      z-index: 10;
    }
  
    .hamburger span {
      width: 100%;
      height: 2px;
      background: var(--foreground);
      transition: all 0.1s linear;
    }
  
    .hamburger.active span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
  
    .hamburger.active span:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active span:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -7px);
    }
  
    .menuContent {
      position: fixed;
      z-index: 90;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: var(--background);
      padding: 100px 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 20px;
    }
  
    .menuContent a {
      color: var(--foreground);
      text-decoration: none;
      font-size: 18px;
      padding: 10px 0;
    }
  
    .menuContent a:hover {
      opacity: 0.7;
    }
  }
  